#contactform input,textarea{width:270px;height:30px;background:#fff;border:1px solid #b8b8b8;line-height:30px;padding:0 10px}
#contactform input#submitinput,.btn{background:#075b9c;color:#fff;float:right}
#contactform input#submitinput{line-height:0;padding:10px;width:100px;border:0}
textarea{height:60px;padding:10px;line-height:20px}
#contactform{width:290px}
.map-btn span{overflow:hidden;zoom:1}
.map-btn:hover span{opacity:1;top:40px;overflow:visible}
.map-btn{overflow:hidden;zoom:1}
.map-btn:hover{overflow:visible}
#secondary h3{width:197px;padding-left:10px;height:34px !important}

